/* Pen-specific styles */

body {
  background-color: #882FF6;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
  text-align: center;
}



h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  height: 70vh;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  border-radius: 12px;
  overflow:auto;
}

.left-half {
  background: #ff9e2c;
  grid-column: 1;
}

.left-half:hover {
  background: #fa8e11;
}

.right-half {
  background: #b6701e;
  grid-column: 2;
}

.right-half:hover{
  background: #885a26;
}

.toggle--prev{
  float: right;
}

.toggle--next{
  float: left;
}

article {
  /* position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
  float: left; */
  
  top: 50%;
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
}

.toggle{
  background-color: #F9E104;
  border: rebeccapurple 1px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  margin: 20px;
}

.toggle:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.toggle:hover {background-color: #35D461}

.gif {
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 15%;
    height: 15%;
}